@using Microsoft.AspNetCore.Components;

@page "/marketing"

<h1>Marketing</h1>

<img src="_content/SnykWebAssembly.ModuleMarketing/background.png" alt="" />

<div class="my-component">
    <p>
        Welcome to our Marketing Institutional Web Page! At our company, we are dedicated to helping businesses grow and succeed through effective marketing strategies. We believe that marketing is the cornerstone of any successful business, and we are committed to delivering exceptional results for our clients.
    </p>
    <p>
        Our team of marketing experts has a wealth of experience in developing customized marketing plans that drive growth and increase revenue. From branding and messaging to digital marketing and advertising, we offer a full range of marketing services that can help businesses of all sizes and industries reach their goals.
    </p>
    <p>
        We understand that every business is unique, which is why we take a personalized approach to marketing. Our team takes the time to understand our clients' business, their goals, and their target audience to develop a customized marketing plan that fits their needs and budget. We are committed to delivering exceptional results for our clients, and we pride ourselves on our track record of success.
    </p>
</div>
