@using Microsoft.AspNetCore.Components;

@page "/humanresources"

<h1>Human Resources</h1>

<img src="_content/SnykWebAssembly.ModuleHumanResources/background.png" alt="" />

<div class="my-component">
    <p>
        Welcome to our Human Resources Institutional Web Page! Our department is dedicated to supporting our employees, from the moment they join our team to their retirement. We offer a wide range of career opportunities across various departments and are committed to diversity, equity, and inclusion.
    </p>
    <p>
        We provide a range of services to support our employees, including benefits and compensation packages, professional development opportunities, wellness programs, and employee engagement initiatives. We also offer resources for career planning and advancement, including mentorship programs, leadership development, and coaching.
    </p>
    <p>
        We are committed to fostering a positive and inclusive work environment, and we believe that our employees' well-being is critical to our success. We offer a range of wellness programs and resources, including mental health support, fitness programs, and work-life balance initiatives. Thank you for visiting our Human Resources Institutional Web Page, and we look forward to hearing from you!
    </p>
</div>
